# general dev/ide files
*.log
*.log.*
*.vscode
.idea
*.DS_Store

# setuptools_scm generated version file (may appear in any subpackage)
tabcmd/**/_version.py
tabcmd/_version.py

# python build files
build/
dist/
*.egg-info/
*.egg
eggs/
.eggs/
__pycache__/
*.pytest_cache
*.pyc
*.pkl
venv/
tabcmd-dev/
workon/

# code coverage outputs
.coverage
pytest.xml

*.txt

# e2e test output
test-output/

# content
# todo probably want to add a workbook and ds in /res for getting started easily
*.pdf
*.png
*.html
*.csv
*.twbx
*.tdsx
# *.hyper
# *.twb
# *.twbr
**/credentials.py
# exceptions
!tests/assets/

# doit
.doit.*

# localization intermediate files
*.po

# venv
site-packages

# local
tabcmd-dev
workon
test.junit.xml
*.out
