# general dev/ide files
*.log
*.vscode
*.csv
.idea
*.DS_Store

# python build files
build/
dist/
*.egg-info/
*.egg
eggs/
.eggs/
__pycache__/
*.pytest_cache
*.pyc
*.pkl
venv/
tabcmd-dev/
workon/
est
site-packages

# test/code coverage outputs
.coverage
pytest.xml
test.junit.xml

# content
*.pdf
*.png
*.twb*
*.tds*
*.hyper
*.html
*.txt
# keep content specifically added to the assets folder
!tests/assets/*

# doit
.doit.*

# local
**/credentials.py

# built executable
tabcmd*.exe
