# general dev/ide files
*.log
*.vscode
*.csv
.idea
*.DS_Store

# python build files
build/
dist/
*.egg-info/
*.egg
eggs/
.eggs/
__pycache__/
*.pytest_cache
*.pyc
*.pkl
.coverage

# code coverage outputs
.coverage
pytest.xml

# content
*.pdf
*.png
*.twbx
*.hyper
*.twb
*.twbr
html
*.html
*.twbr

**/credentials.py
*.txt

