<div class="well docs-menu col-xs-12 col-sm-4 col-md-3">
    {% include search_form.html %}
    <ul class="nav nav-list">

        <li>
            <a href="{{ site.baseurl }}/docs/index.html">Install tabcmd</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/tabcmd_cmd.html">tabcmd Commands</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/tabcmd_install_flags.html">Install Switches and Properties for tabcmd (Windows)</a>
        </li>

    </ul>
</div>
