# test-related stuff, but it doesn't need to run on every os/version of python
name: Generate metadata

on:
  pull_request:
    branches:
      - development

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.7'

    - name: Install App and Extras
      run: |
        python -m pip install --upgrade pip
        python -m pip install -e .[build]
        python -m pip install build
        python -m build

    - name: Type-check
      run: mypy src tests

    - name: Check formatting with black
      run: black . --check

    - name: Generate pyinstaller specs
      run: echo Using locally generated specs
      # pyi-makespec tabcmd\tabcmd.py -n tabcmd-windows -i res\tabcmd.ico -F -c --version-file versionfile.txt --onefile  --collect-data tabcmd.locales &&
      # pyi-makespec tabcmd\tabcmd.py -n tabcmd-mac -i res\tabcmd.icns -F -c --version-file versionfile.txt --onefile --collect-data tabcmd.locales --osx-bundle-identifier com.tableau.tabcmd
      # 3. Unix
