name: Release-Executable

# Pyinstaller requires that executables for each OS are built on that OS
# This action is intended to build on each of the supported OS's: mac, windows, linux.
# and then upload all three files to a new release

# reference material:
# https://data-dive.com/multi-os-deployment-in-cloud-using-pyinstaller-and-github-actions
# https://anshumanfauzdar.medium.com/using-github-actions-to-bundle-python-application-into-a-single-package-and-automatic-release-834bd42e0670

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:

  buildexe:
    name: Build executables and upload them to the existing release
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            TARGET: windows
            CMD_BUILD: >
              python setup.py build &&
              python res/versioning.py && python setup.py build &&
              pip install . &&
              pyinstaller tabcmd-windows.spec --clean --noconfirm --distpath ./dist/windows
            OUT_FILE_NAME: tabcmd.exe
            ASSET_MIME: application/vnd.microsoft.portable-executable
          - os: macos-latest
            TARGET: macos
            CMD_BUILD:  >
              python setup.py build &&
              python res/versioning.py && python setup.py build &&
              pip install . &&
              pyinstaller tabcmd-mac.spec --clean --noconfirm --distpath ./dist/macos &&
              cd dist/ && ls &&
              zip -r9 mac tabcmd-mac*
            OUT_FILE_NAME: tabcmd.zip
            ASSET_MIME: application/zip
          - os: ubuntu-latest
            TARGET: ubuntu
            CMD_BUILD: >
              ls &&
              pyinstaller --clean -y --distpath ./dist/linux tabcmd-linux.spec &&
              chown -R --reference=. ./dist/linux
            OUT_FILE_NAME: tab-for-linux

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-python@v4
      with:
        python-version: 3.8
    - name: Install dependencies
      run: >
        pip install -e .[build] && pip install -e .[package] &&
        python setup.py build && python res/versioning.py && python setup.py build

    - name: Package with pyinstaller for ${{matrix.TARGET}}
      run: ${{matrix.CMD_BUILD}}

    - name: Upload assets to release
      uses: WebFreak001/upload-asset@v1.0.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # automatically provided by github actions
        OS: windows # just a variable we use in the name pattern
      with:
        file: ./dist/${{ matrix.TARGET }}/tabcmd/${{ matrix.OUT_FILE_NAME}}
        mime: ${{ matrix.ASSET_MIME}} # required by GitHub API
        name: ${{ matrix.OUT_FILE_NAME}} # name pattern to upload the file as
