name: Python tests

on:
  workflow_dispatch
  inputs:
    server:
      required: true
    site:
      required: true
    patname:
      required: true
    pat:
      required: true

jobs:
  build:
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.7', '3.8', '3.9', '3.10', '3']

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.os }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python --version
        python -m pip install --upgrade pip
        pip install -e .[build]
        pip install -e .[test]
        doit version
        python setup.py build

    - name: Run e2e tests
      run: | 
        python -m tabcmd login --server "${{ github.event.inputs.server }}" --site "${{ github.event.inputs.site }}" --token-name "${{ github.event.inputs.patname }}" --token-value "${{ github.event.inputs.pat }}"
        pytest -q tests\e2e\online_tests.py -r pfE
