name: Python tests

on:
  workflow_dispatch:
  schedule:
    - cron: 0 11 * * * # Every day at 11AM UTC (7AM EST)
  pull_request:
    branches:
      - development
      - main

jobs:
  build:
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.7', '3.8', '3.9', '3.10', '3']

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.os }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python --version
        python -m pip install --upgrade pip
        python -m pip install --upgrade build
        pip install .
        pip install .[test]
        doit version
        python -m build

    - name: Test with pytest
      run: pytest
